<!-- Seccion 5 -->
<h4>Agregar Personajes</h4>

<form class="row"(ngSubmit)="emitCharacter()" >
  <input
    type="text"
    [(ngModel)]="character.name"
    name=" name"
    placeholder="Nombre de Personajes"
    class="form-control mb-2"
  />
  <input
    type="number"
    [(ngModel)]="character.power"
    name="power"
    placeholder="Poder"
    class="form-control mb-2"
  />

  <button type="submit" class="btn btn-success">
    Agregar
  </button>
<!--   <pre>{{ character | json }}</pre> // para que sea vea el objeto  -->
</form>
